/* component styles */
:root {
    --ila-slideover-padding-x: 25px;
    --ila-slideover-padding-y: 5px;
}
.ila-slideover {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}

.ila-slideover--closed {
    display: none;
}

.ila-slideover--open {
    display: block;
}
.ila-slideover__overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: #24242496;
}

.ila-slideover__slideover {
    position: absolute;
    box-shadow: 0px 0px 17px 0px black;
    background: white;
}

.ila-slideover__slideover--right {
    top: 0;
    bottom: 0;
    right: 0;
    left: 70%;
}

.ila-slideover__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--ila-slideover-padding-y) var(--ila-slideover-padding-x);
    border-bottom: 2px solid var(--il-blue);
}

.ila-slideover__label {
    margin: 0;
}

.ila-slideover__close-button {
    border: none;
    background: transparent;
    padding: 10px;
    cursor: pointer;
}

.ila-slideover__close-icon {
    height: 25px;
    width: 25px;
}

.ila-slideover__content {
    padding: var(--ila-slideover-padding-y) var(--ila-slideover-padding-x);
}

/* global styles */
body {
    font-family: 'Source Sans Pro';
}
