.DS_Store
.idea
dist
node_modules
cookie-zip-stage/
cookie-banner.zip
docs/css
docs/js
docs/svg
docs/partials

# Created from partials:
docs/Cookie-Banner.html
docs/Cookie-Banner-UIC.html
docs/Cookie-Banner-UIS.html
docs/Cookie-Banner-CSP.html
