/* search component containing label, search input, and description */

.search-block {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 6px;
    max-width: 364px;
    position: relative;
    width: 364px;
}

.search-block .frame-wrapper {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 22px;
    position: relative;
    width: 100%;
}

.search-block .frame-2 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 12px;
    position: relative'
    width: 100%;
}

.search-block .label-instance {
    align-self: stretch !important;
    display: flex !important;
    flex: 0 0 auto !important;
    width: 100% !important;
}

.search-block .design-component-instance-node {
    flex: 1 !important;
    flex-grow: 1 !important;
    width: unset !important;
}

.search-block .search-select-instance {
    align-self: stretch !important;
    flex: 0 0 auto !important;
    margin-left: -1px !important;
    margin-right: -1px !important;
    width: 100% !important;
}

.serach-block .description-instance {
    align-self: stretch !important;
    flex: 0 0 auto !important;
    width: 100% !important;
}
