/* checkboxes */

input [type='checkbox']:default {

    /* Group */
    display: flex;
    width: 124px;
    align-items: center;
    gap: 8px;

    /* Label */
    flex: 1 0 0;

    color: #000;

    font-family: "Source Sans Pro";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */

    /* Checkbox */
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    fill: var(---white, #FFF);
}

input [type='checkbox']:hover {

    /* Group */
    display: flex;
    width: 124px;
    align-items: center;
    gap: 8px;

    /* Label */
    flex: 1 0 0;

    color: #000;

    font-family: "Source Sans Pro";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */

    /* Checkbox */
    width: 20px;
    height: 20px;
    flex-shrink: 0;

    fill: var(---white, #FFF);
    stroke-width: 2px;
    stroke: #FF5F05;
}

input [type='checkbox']:focus {

    /* Group */
    display: flex;
    width: 124px;
    align-items: center;
    gap: 8px;

    /* Label */
    flex: 1 0 0;

    color: #000;

    font-family: "Source Sans Pro";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */

    /* Checkbox */
    width: 19px;
    height: 19px;
    flex-shrink: 0;

    fill: var(--il-arches--il-arches-90, #C7EDF8);
    stroke-width: 1px;
    stroke: var(--il-blue--il-blue, #13294B);
}

input [type='checkbox']:checked {

    /* Group */
    display: flex;
    width: 123px;
    align-items: center;
    gap: 8px;

    /* Label */
    flex: 1 0 0;

    color: #000;

    font-family: "Source Sans Pro";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */

    /* Checkbox */
    width: 20px;
    height: 20px;

    fill: var(---white, #FFF);
    stroke-width: 1px;
    stroke: var(--il-storm--il-storm, #707372);

    /* Indicator */
    width: 16.842px;
    height: 11.579px;

    position: absolute;
    right: 1.579px;
    bottom: 3.684px;

    fill: var(--il-storm--il-storm, #707372);
}

input [type='checkbox']:checked:hover {

    /* Group */
    display: flex;
    width: 123px;
    align-items: center;
    gap: 8px;

    /* Label */

    flex: 1 0 0;

    color: #000;

    font-family: "Source Sans Pro";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */

    /* Checkbox */
    width: 20px;
    height: 20px;

    fill: var(---white, #FFF);
    stroke-width: 1px;
    stroke: var(--il-storm--il-storm, #707372);

    /* Indicator */
    width: 16.842px;
    height: 11.579px;

    position: absolute;
    right: 1.579px;
    bottom: 3.684px;

    fill: var(--il-orange-il-orange, #FF5F05);
}

input [type='checkbox']:checked:focus {

    /* Group */
    display: flex;
    width: 125px;
    align-items: center;
    gap: 8px;

    /* Label */
    flex: 1 0 0;

    color: #000;

    font-family: "Source Sans Pro";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */

    /* Checkbox */
    width: 20px;
    height: 20px;

    fill: var(--il-arches--il-arches-90, #C7EDF8);
    stroke-width: 1px;
    stroke: var(--il-blue--il-blue, #13294B);

    /* Indicator */
    width: 16.842px;
    height: 11.579px;

    position: absolute;
    left: 1.5px;
    bottom: 3.921px;

    fill: var(--il-blue--il-blue, #13294B);
}

input [type='checkbox']:disabled {

    /* Group */
    display: flex;
    width: 125px;
    align-items: center;
    gap: 8px;

    /* Label */
    flex: 1 0 0;

    color: var(--il-storm--il-storm, #707372);

    font-family: "Source Sans Pro";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */

    /* Checkbox */
    width: 20px;
    height: 20px;
    
    fill: var(--il-storm--il-storm-95, #F4F4F4);
    stroke-width: 1px;
    stroke: var(--il-storm--il-storm, #707372);
    
}
