/* error-message */

input [type:'validation-error'] {

/* Group */
display: flex;
width: 364px;
min-width: 250px;
max-width: 364px;
flex-direction: column;
align-items: flex-start;

/* Surrounding Input Box */
display: flex;
padding: 20px;
flex-direction: column;
align-items: flex-start;
gap: 22px;
align-self: stretch;

border: 2px solid #D40C0C;

/* Error Red Box */
display: flex;
padding: 10px;
flex-direction: column;
align-items: flex-start;
gap: 3px;
align-self: stretch;

border: 2px solid #D40C0C;
background: #D40C0C;

/* Error Icon */
width: 26px;
height: 23px;

/* Error Message */
flex: 1 0 0;

color: var(---white, #FFF);
font-family: "Source Sans Pro";
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: normal;

}
