:root {
    --ila-toast-margin: 1rem;
    --ila-toast-padding-x: 25px;
    --ila-toast-padding-y: 20px;
}

.ila-toast {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 0;
}

.ila-toast__toast {
    border: 1px solid var(--il-gray-2);
    margin: var(--ila-toast-margin);
    padding: var(--ila-toast-padding-y) var(--ila-toast-padding-x);
    background-color: white;
    position: relative;
    width: 450px;
}

.ila-toast--single-line .ila-toast__toast {
    display: flex;
    justify-content: space-between;
}

.ila-toast--single-line .ila-toast__content {
    flex-grow: 1;
}

.ila-toast--single-line .ila-toast__close-button {
    position: relative;
    margin: auto;
    order: 2;
}

.ila-toast.ila-toast--open {
    transition: all 0.5s ease-in-out;
    opacity: 1;
    visibility: visible;
}

.ila-toast.ila-toast--closed {
    transition: all 0.25s ease-in-out;
    visibility: hidden;
    opacity: 0;
}

.ila-toast__heading {
    margin: 0;
    margin-bottom: 10px;
}

.ila-toast__actions {
    margin: 0;
    margin-top: 10px;
}

.ila-toast__close-button {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: calc(var(--ila-toast-padding-y) - 5px);
    margin-right: calc(var(--ila-toast-padding-x) - 5px);
    padding: 0;
    background: transparent;
    border: none;
    cursor: pointer;
}

.ila-toast__close-button:hover,
.ila-toast__close-button:focus {
    transition: background-color 0.3s;
    background-color: var(--il-blue);
    color: white;
}

.ila-toast__close-icon {
    content: attr(cancel);
    text-indent: 0;
    text-align: center;
    font: 2em/1.2 var(--il-icons-solid);
}
