/* Universal  */
.popover {
    font-size: 18px;
    font-family: "Source Sans Pro", sans-serif;
    font-style: normal;
    line-height: 30px;
    color: #FFF;
    width: 300px;
    max-width: 300px;
    box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.25);
}

.popover .popover-close {
    font-size: 25px;
    float: right;
}

.popover .popover-header {
    font-weight: 600;
    border-bottom: none;
}

/*pretty transition*/
.popover .popover-close-unhovered i,
.popover .popover-close-hovered i {
    transition: color 0.3s ease;
}

/* Arrow bells and whistles */
.popover-arrow {
    position: absolute;
    width: 0;
    height: 0;
    border-style: solid;
}

.popover[data-position^="bottom"] .popover-arrow {
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 0 10px 10px 10px;
    border-color: transparent transparent #13294B transparent;
}

.popover[data-position^="top"] .popover-arrow {
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    border-width: 10px 10px 0 10px;
    border-color: #13294B transparent transparent transparent;
}

.popover[data-position^="left"] .popover-arrow {
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
    border-width: 10px 10px 10px 0;
    border-color: transparent #13294B transparent transparent;
}

.popover[data-position^="right"] .popover-arrow {
    left: -10px;
    top: 50%;
    transform: translateY(-50%);
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent #13294B;
}

/* Dark theme */

.popover-dark {
    background: var(--il-blue--il-blue, #13294B);
}

.popover-dark .popover-header {
    background: var(--il-blue--il-blue, #13294B);
}

.popover-dark .popover-body {
    color: #FFF;
}

.popover-dark .popover-close-unhovered i {
    color: #FFF;
}

.popover-dark .popover-close-hovered i {
    color: var(--il-orange-il-orange, #FF5F05);
}

/* Light theme */
.popover-light {
    background: #FFF;
}

.popover-light .popover-header {
    background: #FFF;
    color: var(--il-blue--il-blue, #13294B);
}

.popover-light .popover-body {
    color: var(--il-blue--il-blue, #13294B);
}

.popover-light .popover-close-unhovered i {
    color: var(--il-storm--il-storm, #707372);
}

.popover-light .popover-close-hovered i {
    color: var(--il-blue--il-blue, #13294B);
}