/* Universal  */
/*  todo set width to 300 px*/
.popover {
    font-size: 18px;
    font-family: "Source Sans Pro", sans-serif;
    font-style: normal;
    line-height: 30px;
    color: #FFF;
    width: 300px;
    max-width: 300px;
}

.popover .popover-close {
    font-size: 20px;
}

.popover .popover-header {
    font-weight: 600;
}

/* Dark theme */

.popover-dark {
    background: var(--il-blue--il-blue, #13294B);
}

.popover-dark .popover-header {
    background: var(--il-blue--il-blue, #13294B);
}

.popover-dark .popover-body {
    color: #FFF;
}

.popover-dark .popover-close {
    color: #FFF;
    float: right;
}

/* Light theme */