/* tooltips 
  - naming format: tooltip-{arrow position}-{color}
  - arrow position takes first letter from a full position name
  - ex) top left => tl, left center => lc
*/

/* tooltip outermost container */
[class*="tooltip-"][class*="-light"],
[class*="tooltip-"][class*="-dark"] {
    position: relative;
    display: inline-block;
}

/* tooltip main area */
[class*="tooltip-"] .tooltip-content{
    display: none;
    padding: 10px;
    width: 200px;
    flex-direction: column;
    align-items: flex-start;
    box-shadow: 0px 1px 6px 0px rgba(0, 0, 0, 0.25);
    position: absolute;
    z-index: 99;
    border-radius: 4px;
}

[class*="tooltip-"][class*="-light"] .tooltip-content {
    background: var(---white, #FFF);
}

[class*="tooltip-"][class*="-dark"] .tooltip-content {
    background: var(--il-blue--il-blue, #13294B);
}

[class*="tooltip-bl"] .tooltip-content {
    bottom: 125%;
    left: 0;
}

[class*="tooltip-bc"] .tooltip-content {
    bottom: 125%;
    transform: translateX(-20%);
}

[class*="tooltip-br"] .tooltip-content {
    bottom: 125%;
    right:0;
}

[class*="tooltip-tl"] .tooltip-content {
    top: 125%;
    left: 0;
}

[class*="tooltip-tc"] .tooltip-content {
    top: 125%;
    transform: translateX(-20%);
}

[class*="tooltip-tr"] .tooltip-content {
    top: 125%;
    right: 0;
}

[class*="tooltip-rt"] .tooltip-content {
    right: 105%;
    top: 0;
}

[class*="tooltip-rc"] .tooltip-content {
    right: 105%;
    transform: translateY(-60%);
}

[class*="tooltip-rb"] .tooltip-content {
    right: 105%;
    bottom: 0;
}

[class*="tooltip-lt"] .tooltip-content {
    left: 105%;
    top: 0;
}
[class*="tooltip-lc"] .tooltip-content {
    left: 105%;
    transform: translateY(-60%);
}
[class*="tooltip-lb"] .tooltip-content {
    left: 105%;
    bottom: 0;
}

/* tooltip display on hover */
[class*="tooltip-"][class*="-light"]:hover .tooltip-content,
[class*="tooltip-"][class*="-dark"]:hover .tooltip-content {
    display: flex;
    opacity: 1;
}

/* tooltip arrow */
[class*="tooltip-"] .tooltip-content::after {
    content: "";
    position: absolute;
}

/* tooltip arrow position */
[class*="tooltip-bl"] .tooltip-content::after, 
[class*="tooltip-tl"] .tooltip-content::after {
    left: 15%;
}

[class*="tooltip-bc"] .tooltip-content::after,
[class*="tooltip-tc"] .tooltip-content::after {
    left: 50%;
}

[class*="tooltip-br"] .tooltip-content::after,
[class*="tooltip-tr"] .tooltip-content::after {
    left: 85%;
}

[class*="tooltip-lb"] .tooltip-content::after,
[class*="tooltip-rb"] .tooltip-content::after {
    top: 60%;
}

[class*="tooltip-lc"] .tooltip-content::after,
[class*="tooltip-rc"] .tooltip-content::after {
    top: 45%;
}

[class*="tooltip-lt"] .tooltip-content::after,
[class*="tooltip-rt"] .tooltip-content::after {
    top: 15%;
}

/* 4 different arrow shapes */
[class*="tooltip-b"] .tooltip-content::after {
    top: 100%;
    border-left: 7.5px solid transparent;
    border-right: 7.5px solid transparent;
}

[class*="tooltip-b"][class*="-light"] .tooltip-content::after {
    border-top: 7.5px solid var(---white, #FFF);
}

[class*="tooltip-b"][class*="-dark"] .tooltip-content::after {
    border-top: 7.5px solid var(--il-blue--il-blue, #13294B);
}

[class*="tooltip-t"] .tooltip-content::after {
    bottom: 100%;
    border-left: 7.5px solid transparent;
    border-right: 7.5px solid transparent;
}

[class*="tooltip-t"][class*="-light"] .tooltip-content::after {
    border-bottom: 7.5px solid var(---white, #FFF);
}

[class*="tooltip-t"][class*="-dark"] .tooltip-content::after {
    border-bottom: 7.5px solid var(--il-blue--il-blue, #13294B);
}

[class*="tooltip-l"] .tooltip-content::after {
    left: -7px;
    border-top: 7.5px solid transparent;
    border-bottom: 7.5px solid transparent;
}

[class*="tooltip-l"][class*="-light"] .tooltip-content::after {
    border-right: 7.5px solid var(---white, #FFF);
}

[class*="tooltip-l"][class*="-dark"] .tooltip-content::after {
    border-right: 7.5px solid var(--il-blue--il-blue, #13294B);
}

[class*="tooltip-r"] .tooltip-content::after {
    right: -7px;
    border-top: 7.5px solid transparent;
    border-bottom: 7.5px solid transparent;
}

[class*="tooltip-r"][class*="-light"] .tooltip-content::after {
    border-left: 7.5px solid var(---white, #FFF);
}

[class*="tooltip-r"][class*="-dark"] .tooltip-content::after {
    border-left: 7.5px solid var(--il-blue--il-blue, #13294B);
}

/* tooltip text */
[class*="tooltip-"] .tooltip-text-title {
    font-family: "Source Sans Pro";
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 14px;
}

[class*="tooltip-"][class*="-light"] .tooltip-text-title {
    color: #000;
}

[class*="tooltip-"][class*="-dark"] .tooltip-text-title {
    color: #FFF;
}

[class*="tooltip-"] .tooltip-text-body {
    font-family: "Source Sans Pro";
    font-size: 10px;
    font-style: normal;
    font-weight: 200;
    line-height: 10px;
    text-align: left;
}

[class*="tooltip-"][class*="-light"] .tooltip-text-body {
    color: #000;
}

[class*="tooltip-"][class*="-dark"] .tooltip-text-body {
    color: #FFF;
}