:root {
    --ila-cookieb-margin: .25rem;
    --ila-cookieb-padding-x: 1rem;
    --ila-cookieb-padding-y: 1rem;
}

/* cookieb area; allows for multiple cookiebs to stack on top of each other. */
.cookieb-holder {
    position: absolute;
    bottom: 0;
    left: 0rem;
    width: auto;
}
.cookieb-holder-inner {
    position: relative;
    display: flex;
    flex-flow: column-reverse;
}

.ila-cookieb__cookieb {
    border: 1px solid var(--il-gray-2);
    margin: var(--ila-cookieb-margin);
    padding: var(--ila-cookieb-padding-y) var(--ila-cookieb-padding-x);
    background-color: white;
    position: relative;
}

/* cookiebs will stack in order of appearance due to the order property */
.ila-cookieb.ila-cookieb--open {
    transition: opacity 0.5s ease-in-out, visibility 0.5s, order 0.1s;
    opacity: 1;
    visibility: visible;
    order: 0;
}

.ila-cookieb.ila-cookieb--closed {
    transition: opacity 0.25s ease-in-out, visibility 0.25s, order 1s;
    visibility: hidden;
    opacity: 0;
    order: 1;
}

.ila-cookieb.ila-cookieb--open.ila-cookieb--first {
    order: -1;
}

.ila-cookieb__heading {
    margin: 0;
    margin-bottom: 0px;
}

/* the only thing that should be in the content area is text.
   margin should come from the ila-cookieb__content class. */
.ila-cookieb__content p {
    margin: 0;
    padding: 0;
}

.ila-cookieb__content {
    margin: 10px 0;
}

.ila-cookieb__actions {
    display: flex;
    justify-content: center;
}

.ila-cookieb__close-button {
    position: absolute;
    right: 0;
    top: 0;
    margin-top: calc(var(--ila-cookieb-padding-y) - 5px);
    margin-right: calc(var(--ila-cookieb-padding-x) - 5px);
    padding: 0;
    background: transparent;
    border: none;
    cursor: pointer;
}

.ila-cookieb__close-button:hover,
.ila-cookieb__close-button:focus {
    transition: background-color 0.3s;
    background-color: var(--il-blue);
    color: white;
}

.ila-cookieb__close-icon {
    font-size: 25px;
}

.ila-cookieb__close-button-large {
    margin-left: .5rem;
}
