/* radio-buttons */

input [type='radio']:default {

    /* Group */
    display: inline-flex;
    align-items: center;
    gap: 8px;

    /* Label */
    width: 95px;

    color: #000;

    font-family: "Source Sans Pro";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */

    /* Radio */
    width: 20px;
    height: 20px;
    flex-shrink: 0;

    fill: var(---white, #FFF);
    stroke-width: 1px;
    stroke: var(--il-storm--il-storm, #707372);

 

}

input [type='radio']:hover {

    /* Group */
    display: inline-flex;
    align-items: center;
    gap: 8px;

    /* Label */
    width: 95px;

    color: #000;

    font-family: "Source Sans Pro";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */

    /* Radio */
    width: 20px;
    height: 20px;
    flex-shrink: 0;

    fill: var(---white, #FFF);
    stroke-width: 2px;
    stroke: #FF5F05;


}

input [type='radio']:focus {

    /* Group */
    display: inline-flex;
    align-items: center;
    gap: 8px;

    /* Label */
    width: 95px;

    color: #000;

    font-family: "Source Sans Pro";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */

    /* Radio */
    width: 14px;
    height: 14px;

    position: absolute;
    left: 3px;
    top: 3px;

    fill: var(--il-arches--il-arches-90, #C7EDF8);
    stroke-width: 2px;
    stroke: var(--il-arches--il-arches-90, #C7EDF8);

 }

input [type='radio']:checked {

    /* Group */
    display: inline-flex;
    align-items: center;
    gap: 8px;

    /* Label */
    width: 95px;

    color: #000;

    font-family: "Source Sans Pro";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */

    /* Radio */
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    
    fill: var(---white, #FFF);
    stroke-width: 1px;
    stroke: var(--il-storm--il-storm, #707372);


    /* Indicator */
    width: 10px;
    height: 10px;

    position: absolute;
    left: 5px;
    top: 5px;

    fill: var(--il-storm--il-storm, #707372);

}

input [type='radio']:checked:hover {

    /* Group */
    display: inline-flex;
    align-items: center;
    gap: 8px;

    /* Label */
    width: 95px;

    color: #000;

    font-family: "Source Sans Pro";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */

    /* Radio */
    width: 20px;
    height: 20px;
    flex-shrink: 0;

    fill: var(---white, #FFF);
    stroke-width: 1px;
    stroke: var(--il-storm--il-storm, #707372);


    /* Indicator */
    width: 12px;
    height: 12px;
    
    position: absolute;
    left: 4px;
    top: 4px;
    
    fill: #FF5F05;

}

input [type:'radio']:checked:focus {

    /* Group */
    display: inline-flex;
    align-items: center;
    gap: 8px;

    /* Label */
    width: 95px;

    color: #000;

    font-family: "Source Sans Pro";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */

    /* Radio */
    width: 20px;
    height: 20px;
    flex-shrink: 0;

    fill: var(--il-blue--il-blue, #13294B);



    /* Indicator */
    width: 12px;
    height: 12px;

    position: absolute;
    left: 4px;
    top: 4px;

    fill: var(--il-blue--il-blue, #13294B);
    stroke-width: 3px;
    stroke: var(--il-arches--il-arches-90, #C7EDF8);



}

input [type='radio']:disabled {

    /* Group */
    display: inline-flex;
    align-items: center;
    gap: 8px;

    /* Label */
    width: 95px;

    color: var(--il-storm--il-storm, #707372);
    
    font-family: "Source Sans Pro";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */

    /* Radio */
    width: 20px;
    height: 20px;
    flex-shrink: 0;
    
    fill: var(--il-storm--il-storm-60, #8E9090);
    stroke-width: 1px;
    stroke: var(--il-storm--il-storm-95, #F4F4F4);


}
