/* dropdown */

input [type='dropdown']:default {

    /* Box */
    display: flex;
    width: 290px;
    padding: 6px 10px;
    justify-content: flex-end;
    align-items: flex-start;
    
    border-radius: 4px;
    border: 1px solid var(--il-storm--il-storm-80, #C6C7C6);
    background: var(---white, #FFF);

    /* Dropdown */
    display: flex;
    padding: 10px 10px 11px 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

    /* Arrow */
    width: 9px;
    height: 13px;
    transform: rotate(-90deg);

    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="9" viewBox="0 0 13 9" fill="none">
    <g clip-path="url(#clip0_3163_8471)">
        <path d="M6.98785 8.77818C6.76884 9.07492 6.22752 9.07492 6.00851 8.77818L3.04157 4.72166L0.0787562 0.668396C-0.140252 0.371656 0.132475 -8.29697e-05 0.56636 -8.29697e-05H12.4341C12.868 -8.29697e-05 13.1407 0.371656 12.9217 0.668396L9.95479 4.72492L6.98785 8.77818Z" fill="#FF5F05"/>
    </g>
    <defs>
        <clipPath id="clip0_3163_8471">
        <rect width="9" height="13" fill="white" transform="matrix(0 -1 1 0 0 9)"/>
        </clipPath>
    </defs>
    </svg>

    /* Text */
    flex: 1 0 0;

    color: var(---black, #000);

    font-family: "Source Sans Pro";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
}

input [input='dropdown']:hover {

    /* Box */
    display: flex;
    width: 290px;
    padding: 6px 10px;
    justify-content: flex-end;
    align-items: flex-start;
    
    border-radius: 4px;
    border: 1px solid var(--il-storm--il-storm-80, #C6C7C6);
    background: var(--il-storm--il-storm-95, #F4F4F4);

    /* Dropdown */
    display: flex;
    padding: 10px 10px 11px 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

    /* Arrow */
    width: 9px;
    height: 13px;
    transform: rotate(-90deg);

    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="9" viewBox="0 0 13 9" fill="none">
    <g clip-path="url(#clip0_3163_8475)">
        <path d="M6.98785 8.77818C6.76884 9.07492 6.22752 9.07492 6.00851 8.77818L3.04157 4.72166L0.0787562 0.668396C-0.140252 0.371656 0.132475 -8.29697e-05 0.56636 -8.29697e-05H12.4341C12.868 -8.29697e-05 13.1407 0.371656 12.9217 0.668396L9.95479 4.72492L6.98785 8.77818Z" fill="#FF5F05"/>
    </g>
    <defs>
        <clipPath id="clip0_3163_8475">
        <rect width="9" height="13" fill="white" transform="matrix(0 -1 1 0 0 9)"/>
        </clipPath>
    </defs>
    </svg>

    /* Text */
    flex: 1 0 0;

    color: var(---black, #000);

    font-family: "Source Sans Pro";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */

}

input [input='dropdown']:focus {

    /* Box */
    display: flex;
    width: 290px;
    padding: 6px 10px;
    justify-content: flex-end;
    align-items: flex-start;

    border-radius: 4px;
    border: 2px solid var(--il-blue--il-blue, #13294B);
    background: var(--il-arches--il-arches-90, #C7EDF8);

    /* Dropdown */
    display: flex;
    padding: 10px 10px 11px 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

    /* Arrow */
    width: 9px;
    height: 13px;
    transform: rotate(-90deg);

    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="9" viewBox="0 0 13 9" fill="none">
    <g clip-path="url(#clip0_3163_8479)">
        <path d="M6.98785 8.77818C6.76884 9.07492 6.22752 9.07492 6.00851 8.77818L3.04157 4.72166L0.0787562 0.668396C-0.140252 0.371656 0.132475 -8.29697e-05 0.56636 -8.29697e-05H12.4341C12.868 -8.29697e-05 13.1407 0.371656 12.9217 0.668396L9.95479 4.72492L6.98785 8.77818Z" fill="#13294B"/>
    </g>
    <defs>
        <clipPath id="clip0_3163_8479">
        <rect width="9" height="13" fill="white" transform="matrix(0 -1 1 0 0 9)"/>
        </clipPath>
    </defs>
    </svg>

    /* Text */
    flex: 1 0 0;

    color: var(---black, #000);

    font-family: "Source Sans Pro";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    
}

input [input='dropdown']:active {

    /* Box */
    display: flex;
    width: 290px;
    padding: 6px 10px;
    justify-content: flex-end;
    align-items: flex-start;

    border-radius: 4px;
    border: 2px solid #FF5F05;
    background: var(---white, #FFF);

    /* Dropdown */
    display: flex;
    padding: 10px 10px 11px 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

    /* Arrow */
    width: 9px;
    height: 13px;
    transform: rotate(-90deg);

    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="9" viewBox="0 0 13 9" fill="none">
    <g clip-path="url(#clip0_3163_8483)">
        <path d="M6.98785 8.77842C6.76884 9.07516 6.22752 9.07516 6.00851 8.77842L3.04157 4.7219L0.0787562 0.66864C-0.140252 0.371901 0.132475 0.000161171 0.56636 0.000161171H12.4341C12.868 0.000161171 13.1407 0.371901 12.9217 0.66864L9.95479 4.72516L6.98785 8.77842Z" fill="#FF5F05"/>
    </g>
    <defs>
        <clipPath id="clip0_3163_8483">
        <rect width="9" height="13" fill="white" transform="matrix(0 -1 1 0 0 9)"/>
        </clipPath>
    </defs>
    </svg>

    /* Text */
    flex: 1 0 0;

    color: var(---black, #000);

    font-family: "Source Sans Pro";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */
    
}

input [input='dropdown']:disabled {

    /* Box */
    display: flex;
    width: 290px;
    padding: 6px 10px;
    justify-content: flex-end;
    align-items: center;

    border-radius: 4px;
    background: var(--il-storm--il-storm-95, #F4F4F4);

    /* Dropdown */
    display: flex;
    padding: 10px 10px 11px 10px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;

    /* Arrow */
    width: 9px;
    height: 13px;
    transform: rotate(-90deg);

    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="9" viewBox="0 0 13 9" fill="none">
    <g clip-path="url(#clip0_3163_8486)">
        <path d="M6.98785 8.77842C6.76884 9.07516 6.22752 9.07516 6.00851 8.77842L3.04157 4.7219L0.0787562 0.66864C-0.140252 0.371901 0.132475 0.000161171 0.56636 0.000161171H12.4341C12.868 0.000161171 13.1407 0.371901 12.9217 0.66864L9.95479 4.72516L6.98785 8.77842Z" fill="#C6C7C6"/>
    </g>
    <defs>
        <clipPath id="clip0_3163_8486">
        <rect width="9" height="13" fill="white" transform="matrix(0 -1 1 0 0 9)"/>
        </clipPath>
    </defs>
    </svg>
    
}