/* label */

input [type='label']:default {
    display: flex;
    height: 32px;
    flex-direction: column;
    justify-content: center;
    flex: 1 0 0;

    color: var(--il-blue--il-blue, #13294B);
    font-family: "Source Sans Pro";
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px; /* 130% */
}
