/* search-dropdown */

input [type='search'] {

    /* Open Dropdown */

    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;

    /* Group of Options */

    display: flex;
    flex-direction: column;
    align-items: flex-start;

}