/* search */

input [type='search']:default {

    /* Box */
    display: flex;
    width: 290px;
    padding: 6px 17px 6px 13px;
    justify-content: flex-end;
    align-items: center;
    gap: 19px;

    border-radius: 4px;
    border: 1px solid var(--il-storm--il-storm-80, #C6C7C6);
    background: var(---white, #FFF);

    /* Text */
    flex: 1 0 0;

    color: var(---black, #000);

    font-family: "Source Sans Pro";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */

    /* Icon */
    width: 13px;
    height: 13px;
    flex-shrink: 0;

    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="14" viewBox="0 0 13 14" fill="none">
    <g clip-path="url(#clip0_3163_8362)">
        <path d="M7.92972 1.86172C6.11508 0.0470712 3.1733 0.0470712 1.36196 1.86172C-0.452685 3.67636 -0.452685 6.61483 1.36196 8.42948C3.00473 10.0722 5.56638 10.221 7.38434 8.88892L11.1194 13.176C11.5491 13.6057 12.2498 13.6057 12.6795 13.176C13.1092 12.7463 13.1092 12.0455 12.6795 11.6158L8.42222 7.84112C9.72123 6.02648 9.55927 3.49126 7.92972 1.86172ZM7.04388 7.54364C5.71843 8.86909 3.57325 8.86909 2.2478 7.54364C0.922347 6.21819 0.922347 4.07301 2.2478 2.74755C3.57325 1.4221 5.71843 1.4221 7.04388 2.74755C8.36933 4.07301 8.36933 6.21819 7.04388 7.54364Z" fill="#FF5F05"/>
    </g>
    <defs>
        <clipPath id="clip0_3163_8362">
        <rect width="13" height="13" fill="white" transform="translate(0 0.5)"/>
        </clipPath>
    </defs>
    </svg>

}

input [type='search']:hover {

    /* Box */
    display: flex;
    width: 290px;
    padding: 6px 17px 6px 13px;
    justify-content: flex-end;
    align-items: center;
    gap: 19px;

    border-radius: 4px;
    border: 1px solid var(--il-storm--il-storm-80, #C6C7C6);
    background: var(--il-storm--il-storm-95, #F4F4F4);

    /* Text */
    flex: 1 0 0;

    color: var(---black, #000);

    font-family: "Source Sans Pro";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */

    /* Icon */
    width: 13px;
    height: 13px;
    flex-shrink: 0;

    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="14" viewBox="0 0 13 14" fill="none">
    <g clip-path="url(#clip0_3163_8365)">
        <path d="M7.92972 1.86172C6.11508 0.0470712 3.1733 0.0470712 1.36196 1.86172C-0.452685 3.67636 -0.452685 6.61483 1.36196 8.42948C3.00473 10.0722 5.56638 10.221 7.38434 8.88892L11.1194 13.176C11.5491 13.6057 12.2498 13.6057 12.6795 13.176C13.1092 12.7463 13.1092 12.0455 12.6795 11.6158L8.42222 7.84112C9.72123 6.02648 9.55927 3.49126 7.92972 1.86172ZM7.04388 7.54364C5.71843 8.86909 3.57325 8.86909 2.2478 7.54364C0.922347 6.21819 0.922347 4.07301 2.2478 2.74755C3.57325 1.4221 5.71843 1.4221 7.04388 2.74755C8.36933 4.07301 8.36933 6.21819 7.04388 7.54364Z" fill="#FF5F05"/>
    </g>
    <defs>
        <clipPath id="clip0_3163_8365">
        <rect width="13" height="13" fill="white" transform="translate(0 0.5)"/>
        </clipPath>
    </defs>
    </svg>

}

input [type='search']:focus {

    /* Box */
    display: flex;
    width: 290px;
    padding: 6px 17px 6px 13px;
    justify-content: flex-end;
    align-items: center;
    gap: 19px;

    border-radius: 4px;
    border: 2px solid var(--il-blue--il-blue, #13294B);
    background: var(--il-arches--il-arches-90, #C7EDF8);

    /* Text */
    flex: 1 0 0;

    color: var(---black, #000);

    font-family: "Source Sans Pro";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */

    /* Icon */
    width: 13px;
    height: 13px;
    flex-shrink: 0;

    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="14" viewBox="0 0 13 14" fill="none">
    <g clip-path="url(#clip0_3163_8370)">
        <path d="M7.92972 1.86172C6.11508 0.0470712 3.1733 0.0470712 1.36196 1.86172C-0.452685 3.67636 -0.452685 6.61483 1.36196 8.42948C3.00473 10.0722 5.56638 10.221 7.38434 8.88892L11.1194 13.176C11.5491 13.6057 12.2498 13.6057 12.6795 13.176C13.1092 12.7463 13.1092 12.0455 12.6795 11.6158L8.42222 7.84112C9.72123 6.02648 9.55927 3.49126 7.92972 1.86172ZM7.04388 7.54364C5.71843 8.86909 3.57325 8.86909 2.2478 7.54364C0.922347 6.21819 0.922347 4.07301 2.2478 2.74755C3.57325 1.4221 5.71843 1.4221 7.04388 2.74755C8.36933 4.07301 8.36933 6.21819 7.04388 7.54364Z" fill="#13294B"/>
    </g>
    <defs>
        <clipPath id="clip0_3163_8370">
        <rect width="13" height="13" fill="white" transform="translate(0 0.5)"/>
        </clipPath>
    </defs>
    </svg>

}

input [type='search']:active {

    /* Box */
    display: flex;
    width: 290px;
    padding: 6px 17px 6px 13px;
    justify-content: flex-end;
    align-items: center;
    gap: 19px;

    border-radius: 4px;
    border: 2px solid #FF5F05;
    background: var(---white, #FFF);

    /* Text */
    flex: 1 0 0;

    color: var(---black, #000);

    /* Body/Regular */
    font-family: "Source Sans Pro";
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; /* 166.667% */

    /* Icon */
    width: 13px;
    height: 13px;
    flex-shrink: 0;

    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="14" viewBox="0 0 13 14" fill="none">
    <g clip-path="url(#clip0_3163_8373)">
        <path d="M7.92972 1.86196C6.11508 0.0473153 3.1733 0.0473153 1.36196 1.86196C-0.452685 3.67661 -0.452685 6.61507 1.36196 8.42972C3.00473 10.0725 5.56638 10.2212 7.38434 8.88916L11.1194 13.1762C11.5491 13.6059 12.2498 13.6059 12.6795 13.1762C13.1092 12.7465 13.1092 12.0458 12.6795 11.6161L8.42222 7.84136C9.72123 6.02672 9.55927 3.4915 7.92972 1.86196ZM7.04388 7.54388C5.71843 8.86933 3.57325 8.86933 2.2478 7.54388C0.922347 6.21843 0.922347 4.07325 2.2478 2.7478C3.57325 1.42235 5.71843 1.42235 7.04388 2.7478C8.36933 4.07325 8.36933 6.21843 7.04388 7.54388Z" fill="#FF5F05"/>
    </g>
    <defs>
        <clipPath id="clip0_3163_8373">
        <rect width="13" height="13" fill="white" transform="translate(0 0.5)"/>
        </clipPath>
    </defs>
    </svg>

}

input [type='search']:disabled {

    /* Box */
    display: flex;
    width: 290px;
    padding: 14px 12px 15px 13px;
    justify-content: flex-end;
    align-items: center;
    gap: 19px;

    border-radius: 4px;
    background: var(--il-storm--il-storm-95, #F4F4F4);

    /* Icon */
    width: 13px;
    height: 13px;
    flex-shrink: 0;

    <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13" fill="none">
    <g clip-path="url(#clip0_3163_8367)">
        <path d="M7.92972 1.36196C6.11508 -0.452685 3.1733 -0.452685 1.36196 1.36196C-0.452685 3.17661 -0.452685 6.11507 1.36196 7.92972C3.00473 9.57249 5.56638 9.72123 7.38434 8.38916L11.1194 12.6762C11.5491 13.1059 12.2498 13.1059 12.6795 12.6762C13.1092 12.2465 13.1092 11.5458 12.6795 11.1161L8.42222 7.34136C9.72123 5.52672 9.55927 2.9915 7.92972 1.36196ZM7.04388 7.04388C5.71843 8.36933 3.57325 8.36933 2.2478 7.04388C0.922347 5.71843 0.922347 3.57325 2.2478 2.2478C3.57325 0.922347 5.71843 0.922347 7.04388 2.2478C8.36933 3.57325 8.36933 5.71843 7.04388 7.04388Z" fill="#C6C7C6"/>
    </g>
    <defs>
        <clipPath id="clip0_3163_8367">
        <rect width="13" height="13" fill="white"/>
        </clipPath>
    </defs>
    </svg>

}