/* text area component containing label, text area, and description */

.text-area-block {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    gap: 6px;
    max-width: 652px;
    position: relative;
    width: 652px;
}

.text-area-block .frame-wrapper {
    align-items: flex-start;
    align-self: stretch;
    dispaly: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 22px;
    position: relative;
    width: 100%;
}

.text-area-block .frame-2 {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    flex: 0 0 auto;
    flex-direction: column;
    gap: 12px;
    position: relative;
    width: 100%;
}

.text-area-block .label-instance {
    align-self: stretch !important;
    display: flex !important;
    flex: 0 0 auto; !important;
    width: 100% !important;
}

.text-area-block .design-component-instance-node {
    flex: 1 !important;
    flex-grow: 1 !important;
    width: unset !important;
}

.text-area-block .text-area-instance {
    align-self: stretch !important;
    margin-left: -1px !important;
    margin-right: -1px !important;
    width: 100% !important;
}

.text-area-block .description-instance {
    align-self: stretch !important;
    flex: 0 0 auto !important;
    width: 100% !important;
}
